h1 {
    text-align: center;
    color: mintcream;
    font-size: 4rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

body {
    background-color: 575366;
}

#newBookButton {
    text-align: center;
    color: mintcream;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    background-color: 5762D5;
    width: 250px;
    height: 140px;
    border-radius: 25px;
    border: 2px solid 5753661;
}

#newBook {
    text-align: justify;
    color: mintcream;
    font-size: small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    background-color: 5762D5;
    width: 250px;
    height: 140px;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 10px;
}

#form {
    text-align: justify;
    color: mintcream;
    font-size: small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    background-color: 5762D5;
    width: 250px;
    height: 140px;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 10px;
}

#library {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 5% .5%;
    width: 95vw;
    background-color: 575366;
}

.book {
    text-align: justify;
    color: mintcream;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    background-color: 5762D5;
    width: 250px;
    height: 140px;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 10px;
}

.book::first-line {
    font-size: x-large;  
}

.radioButtons{
    font-size: 14px;
}

.radioButtons input[type="radio"] {
  display: none;
}

.radioButtons label {
  display: inline-block;
  background-color: 5762D5;
  padding: 1px 1px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 10px;
  border: 2px solid #73AD21;
  border-radius: 4px;
  cursor: pointer;
}

input[type="radio"]:checked + label {
  background-color: 32292F;
  font-size: 14px;
} 

.radioButtons label:hover {
    border: 3px solid #73AD21;
}

.delete {
    float: right;
    color:darkred;
    cursor: pointer;
    background-color: darkblue;
    border-radius: 4px;
    opacity: 0.5;
    font-weight: bold;
}

.delete:hover {
    opacity: 1;
    font-weight: bold;
}